.container {
    width: 1280px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
}

.min-height {
    min-height: 75%;
}

.start {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}